@font-face {
    font-family: "Courier prime";
    src: url("../fonts/courier-prime/cour.ttf");
  }

@font-face {
    font-family: "Courier bold";
    src: url("../fonts/courier-prime/Courier\ Prime\ Bold.ttf");
  }

